
/*
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

.info {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.371);
}

.info-country {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.info-container {
  background-color: #f0f0f0;
  padding: 10px;
}

.visible {
  display: block;
}

.closed,
.card {
  cursor: pointer;
}

*/